html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 300 11px/1.4 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  background: var(--foreground-color);
  overflow: hidden;
  display: block;
}

:root {
  --accent-color: #e50e0e ;
  --foreground-color: #8f1414;
  --background-color:#000000;
  --text-color:#ffe3b2 ;
  --link-color:#fcac03;
}

